#main_app_root {
    background-color: #E4E4E4;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    position: relative;
}

#main_app_p1 {
    height: 100vh;
    width: 60px;
    border-right: 1px dashed gray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon {
    width: 35px;
    height: 35px;
    user-select: none;
    pointer-events: none;
}

.iconContainer {
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border-radius: 10px;
    width: 36px;
    padding: 4px;
    user-select: none;
    cursor: pointer;
}

.iconContainer:hover {
    background-color: white;
    box-shadow: 2px 2px 10px #29854D;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-out;
}

#menu_icon_container {
    margin-bottom: 90px;
}

#main_app_p1_bottom {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

#moon_icon_container {
    margin-bottom: 30px;
}

#main_app_p2 {
    flex: 1;
    min-width: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#main_app_p2_top {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
    align-items: center;
}

#main_app_p2_body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#main_app_p2_body::-webkit-scrollbar {
    width: 5px;
}

#main_app_p2_body::-webkit-scrollbar-thumb {
    background: #29854D;
}

#webIcon {
    height: 40px;
    width: 40px;
    pointer-events: none;
    user-select: none;
}

#main_app_p2_top_p1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px;
    margin-left: 12px;
    position: relative;
}

#main_app_p2_top_p2 {
    height: 40px;
    flex: 1;
    display: flex;
    flex-direction: row;
}

#main_app_p2_top_p2_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#main_app_p2_top_p2_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.P2_2_1_button {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 10px;
    text-align: center;
}

.P2_2_1_button:hover {
    outline: 1px solid #29854D;
    outline-offset: 5px;
}

.P2_2_1_button:active {
    background-color: #29854ca8;
    color: white;
}

.P2_2_1_button:focus {
    outline: 1px solid #29854D;
}

.active {
    background-color: white;
    color: #29854D;
    box-shadow: 2px 2px 10px #29854D;
}

.iconTxt {
    display: none;
    margin-left: 4px;
}

.iconTxtcontainer {
    width: 100%;
    position: relative;
    text-align: center;
}



.hintTxtcontainer {
    background-color: rgba(84, 83, 83, 0.744);
    color: white;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    left: 54px;
    z-index: 1;
    width: 70px;
    display: none;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    user-select: none;
}


#market_icon_container:hover .market_hint,
#moon_icon_container:hover .night_hint,
#map_icon_container:hover .map_hint,
#ai_icon_container:hover .ai_hint,
#home_icon_container:hover .home_hint,
#menu_icon_container:hover .menu_hint {
    display: flex;
    transition: display 300ms ease-in;
}

.Search_page {
    background-color: rgba(128, 128, 128, 0.616);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

#search_container {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

#search_bar {
    height: 40px;
    width: 500px;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;
    outline-color: #29854D;
}

#search_button {
    margin-left: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.big_picture {
    background-color: rgba(128, 128, 128, 0.616);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#big_picture_container {
    height: 512px;
    width: 512px;
    user-select: none;
}

.av_default_popup {
    background-color: rgba(128, 128, 128, 0.616);
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}

#popup_container {
    background-color: white;
    border-radius: 20px;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.pageActive {
    display: flex;
}

#av_title_link {
    text-decoration: none;
    color: black;
}