#bg_image {
    width: 100%;
    height: 100%;
    background-image: url("./assets/bve1br0f.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: bg_image_anim 1s linear 2s forwards;
}

@keyframes bg_image_anim {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(7px);
    }
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heading {
    color: white;
    font-size: 70px;
    user-select: none;
    position: relative;
    top: 65px;
    animation: heading_anim 1s linear 2s forwards;
}

@keyframes heading_anim {
    from {
        top: 65px;
    }

    to {
        top: 0px;
    }
}

#button_section {
    width: 100%;
    position: relative;
    opacity: 0;
    pointer-events: none;
    animation: button_section_anim 1s linear 2s forwards;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes button_section_anim {
    from {
        opacity: 0;
        top: 0px;
        pointer-events: none;
    }

    to {
        opacity: 1;
        top: 40px;
        pointer-events: all;
    }
}

#about {
    margin: 7px;
    border: 1px solid white;
    border-radius: 23px;
    text-align: center;
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    outline-offset: -1px;
    cursor: pointer;
    user-select: none;
}

#about p {
    padding-left: 7px;
    padding-right: 9px;
    color: white;
    font-size: 23px;
    user-select: none;
    text-align: center;
}

img {
    pointer-events: none;
}

#join {
    height: 60px;
    width: 140px;
    margin: 7px;
    margin-left: 60px;
    background-color: white;
    border: 1px solid white;
    border-radius: 23px;
    text-align: center;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    outline-offset: -1px;
    cursor: pointer;
    user-select: none;
}

#about:hover,
#join:hover {
    animation: button_hover_anim 1s ease-in infinite;
}

#about:active {
    background-color: rgba(210, 209, 209, 0.265);
    border: 1px solid rgb(210, 209, 209);
}

#join:active {
    background-color: rgb(210, 209, 209);
    border: 1px solid rgb(210, 209, 209);
}

#join p {
    padding-left: 7px;
    padding-right: 9px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 23px;
    user-select: none;
    text-align: center;
}

@keyframes button_hover_anim {
    from {
        outline-offset: -1px;
    }

    to {
        outline-offset: 7px;
    }
}

#goal_section {
    position: absolute;
    color: white;
    bottom: 3%;
}